# General imports
numpy      # Vector computations
matplotlib # plotting
tqdm       # progress bars

# GUI
PyQt6
pywin32

# 3D libraries
open3d==0.15.1
pymeshlab
pymeshfix

# 2D Feature extraction
feret
opencv-python==4.6.0.66

# ANN library
pynndescent==0.5.7
